---
// import Counter from '../components/Counter.tsx';
import MainLayout from '../layouts/main.astro';
---

<MainLayout title="Home" page="Home">
  <h1>
    Conningvale Drug Bust
  </h1>
  <p>3 <b>sus</b>pects have been identified. You are tasked with finding out what happened here any why.</p>
</MainLayout>