---
// import Counter from '../components/Counter.tsx';
import MainLayout from '../layouts/main.astro';
---

<MainLayout title="Scene" page="Scene">
    <div class="e5_5"></div>
</MainLayout>

<style>
    .e5_5 {
        box-shadow: 8px 8px 0px rgba(40.00000141561031, 37.00000159442425, 37.00000159442425, 1);
        background-image: url("/CrimeSceneSite/alignedscene.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: aliceblue;
        width: min(20rem, 100%-8px);
        aspect-ratio: 4.5 / 3;
        height: 400px;
        border-top-left-radius: 47px;
        border-top-right-radius: 47px;
        border-bottom-left-radius: 47px;
        border-bottom-right-radius: 47px;
        border: 8px solid rgba(0, 0, 0, 1);
    }
</style>