---
// import Counter from '../components/Counter.tsx';
import { MarkdownInstance } from 'astro';
import { For } from 'solid-js';
import MainLayout from '../../layouts/main.astro';

interface Evidence {
  title: string,
}

let allPosts = (await Astro.glob('../../evidence/*.md')) as MarkdownInstance<Record<string, Evidence>>[];
---

<MainLayout title="Evidence" page="Evidence">
  <h1>
    Evidence
  </h1>
  <ul>{allPosts.map((post, index) => {
    return <le><a href={`/CrimeSceneSite/evidence/${post.frontmatter.title}`}>
        <h3>{post.frontmatter.title}
        </h3>
      </a></le>
    })}</ul>
</MainLayout>

<style>
  ul {
    list-style-type: circle;
  }
</style>