---
import { For } from "solid-js";

interface NavbarProps {
    page: string;
}

const { page } = Astro.props as NavbarProps;
---

<div class="container">
    <ul>
        <li><b><a href="/CrimeSceneSite/" class={page=="Home" ? "active" : "inactive" }>HOME</a></b> </li>
        <li><b><a href="/CrimeSceneSite/evidence/" class={page=="Evidence" ? "active" : "inactive"
                }>EVIDENCE</a></b></li>
        <li><b><a href="/CrimeSceneSite/scene/" class={page=="Scene" ? "active" : "inactive" }>SCENE</a></b> 
        </li>
    </ul>
</div>

<style>
    ul {
        /* display: block; */
        position: fixed;
        top: 0;
        width: 100%;
        list-style-type: none;
        text-align: center;
        padding: 0;
        left: 0;
    }

    li {
        display: inline-block;
        position: relative;
    }

    a {
        display: block;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }

    a:link { text-decoration: none; color: inherit;}

    a:visited { text-decoration: none; color: inherit; }

    a:hover { text-decoration: none; color: inherit;}

    a:active { text-decoration: none; color: inherit;}

    a.active {
        background-color: #FFE5BD;
    }
    a.inactive {
        background-color: #F8C78E;
    }
</style>
