---
import { For } from "solid-js";

interface NavbarProps {
    page: string;
}

const { page } = Astro.props as NavbarProps;
---

<div class="container">
    <ul>
        <li><b><a href="/year9-t2-innovations-crime-scene-site/" class={page=="Home" ? "active" : "" }>HOME</a></b> </li>
        <li><b><a href="/year9-t2-innovations-crime-scene-site/evidence/" class={page=="Evidence" ? "active" : ""
                }>EVIDENCE</a></b></li>
        <li><b><a href="/year9-t2-innovations-crime-scene-site/scene/" class={page=="Scene" ? "active" : "" }>SCENE</a></b> 
        </li>
    </ul>
</div>

<style>
    ul {
        /* display: block; */
        list-style-type: none;
        text-align: center;
        padding-left: 0;
    }

    li {
        display: inline-block;
        position: relative;
    }

    a {
        display: block;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }

    a:link { text-decoration: none; color: inherit;}

    a:visited { text-decoration: none; color: inherit; }

    a:hover { text-decoration: none; color: inherit;}

    a:active { text-decoration: none; color: inherit;}

    a.active {
        background-color: #FFE5BD;

    }
</style>