---
// import Counter from '../components/Counter.tsx';
import { MarkdownInstance } from 'astro';
import { For } from 'solid-js';
import MainLayout from '../../layouts/main.astro';

interface Suspects {
    title: string,
}

export async function getStaticPaths() {
    const posts = await Astro.glob('../../suspects/*.md');

    return posts.map(p => ({
        params: { slug: p.file.split('/').pop().split('.').shift() },
        props: { post: p },
    }));
}


const { title } = Astro.props.post.frontmatter;
const { Content } = Astro.props.post;
---

<MainLayout title={`Suspects | ${title}`} page="Suspects">
    <h1>
        {title}
    </h1>
    <Content />
</MainLayout>