---
// import Counter from '../components/Counter.tsx';
import { MarkdownInstance } from 'astro';
import { For } from 'solid-js';
import MainLayout from '../../layouts/main.astro';

interface Suspects {
  title: string,
}

let allPosts = (await Astro.glob('../../suspects/*.md')) as MarkdownInstance<Record<string, Suspects>>[];
---

<MainLayout title="Suspects" page="Suspects">
  <h1>
    Suspects
  </h1>
  <ul>{allPosts.map((post, index) => {
    return <le><a href={`/CrimeSceneSite/suspects/${post.file.split('/').pop().split('.').shift()}`}>
        <h3>{post.frontmatter.title}
        </h3>
      </a></le>
    })}</ul>
</MainLayout>

<style>
  ul {
    list-style-type: circle;
  }
</style>